# Docker Compose file for Vapor
#
# Install Docker on your system to run and test
# your Vapor app in a production-like environment.
#
# Note: This file is intended for testing and does not
# implement best practices for a production deployment.
#
# Learn more: https://docs.docker.com/compose/reference/
#
#   Build images: docker compose build
#      Start app: docker compose up
#       Stop all: docker compose down
#

x-shared_environment: &shared_environment
  LOG_LEVEL: ${LOG_LEVEL:-debug}
  DATABASE_HOST: db
  DATABASE_PORT: 5432
  DATABASE_USERNAME: ${DATABASE_USERNAME:-vapor_username}
  DATABASE_PASSWORD: ${DATABASE_PASSWORD:-vapor_password}
  DATABASE_NAME: ${DATABASE_NAME:-vapor_database}

services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME:-vapor_username}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-vapor_password}
      POSTGRES_DB: ${DATABASE_NAME:-vapor_database}
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U vapor_username -d vapor_database"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    image: hello:latest
    build:
      context: .
    environment:
      <<: *shared_environment
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '8080:8080'
    # user: '0' # uncomment to run as root for testing purposes even though Dockerfile defines 'vapor' user.
    command: ["serve", "--env", "development", "--hostname", "0.0.0.0", "--port", "8080"]

volumes:
  db_data:
